*{
  margin: 0px;
  padding: 0px;
}
/*head start*/
.head{
  background-color: #292828;
}
.head img{
  margin-left: 30px;
 padding-top: 15px;
 padding-bottom: 15px;
}
.head .button {
  margin-top: 12px;
}
/*button*/
.head button {
    font-size: 16px;
    padding: 3px;
    border-radius: 10px;
    border-color: #6f9a37;
    background-color: #558B2F;
    border-style: none;
    padding-left: 15px;
    padding-top: 5px;
    padding-right: 15px;
    padding-bottom: 5px;
}
/*head end*/
/*top start*/
#top{
  padding-top: 10px;
  margin-right: 00px;
}
#top .image{
  margin-left: 200px;

}
#top .div1{
  margin-left: 200px;
}
#top .div2{
  margin-left: 50px;
}
#top .div1 .text {
    margin-left:30px; 

}
#top .div2 .text {
    margin-left:30px; 

}

#top i{
   
    
}
#top .div1 .fa-map-marker-alt {
    text-align: center;
     color: #cd9145;
    width: 60px;
    height: 60px;
    background-color: #0a036f;
    font-size: 40px;
    padding-top: 10px;
    padding-left: 14px;
    border-radius: 30px 0px 30px 30px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}
#top .div2 .fa-envelope {
     color: #cd9145;
    width: 60px;
    height: 60px;
    background-color: #0a036f;
    font-size: 35px;
    padding-top: 14px;
    padding-left: 12px;
    border-radius: 30px 0px 30px 30px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    z-index: -1;
}
#top .button-1 button {
    
    font-size: 15px;
    margin-top: 10px;
    border-color: white;
    background-color: white;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    border-radius: 33px;
    font-style: oblique;
    border-style: none;
    box-shadow: 0px 0px 0px white;
    margin-left: 100px;
    color: blue;
}
#top .button-1 button :hover{
    font-size: 15px;
    margin-top: 10px;
    border-color: white;
    background-color: #1625c9;
    padding-left: 25px;
    padding-top: 10px;
    padding-right: 25px;
    padding-bottom: 10px;
    border-radius: 33px;
    font-style: oblique;
    border-style: none;
    box-shadow: 0px 0px 0px white;
    color: #cd9145;
}
/*top end*/
.header {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

#navbar {
    overflow: hidden;
    background-color: white;
    z-index: 100;
}
#container{

}
#navbar a {
    float: left;
    display: block;
    text-align: center;
    margin-left: 82px;
    font-size: 25px;
    color: #2b12e2;
    text-decoration-color: blue;
    margin-top: 10px;
    text-decoration-style: solid;
}
.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 3px);
    padding: 0px 18px;
    font-size: 20px;
    font-weight: 400;
    line-height: 2.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
#navbar a:hover {
    background-color: #f6eded00;
    color: #181718;
}
 .bg-dark {
    background-color: #e5e8ea00!important;
}
#navbar a.active {
    background-color: #fff;
    color: blue;
}
#navba .form-inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    margin-left: 86px;
}
#navbar .content {
  padding: 16px;
}
#navbar .btn-success i{
    font-size: 20px;
}
#navbar .btn-success {
    border-radius: inherit;
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #1A237E;
    border-color: #1A237E;
}
#navbar .btn-success:hover {
    border-radius: inherit;
    font-size: 20px;
    margin-left: 10px;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #f0c713;
    border-color: #e6d11d;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 60px;
}
/*navber end*/
/*Slider start*/
#slider .carousel-caption {
    position: absolute;
    right: 7%;
    bottom: 100px;
    left: 3%;
    z-index: 1;
    padding-top: 11px;
    padding-bottom: 21px;
    color: #0e0707;
    text-align: left;
}
#slider .carousel-caption h1 {
    font-size: 105px;
    font-style: inherit;
}
#slider .button-slide button {
    margin-left: 50px;
    margin-top: 100px;
    color: white;
    padding-top: 10px;
    background-color: #FFEB3B;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: yellow;
    border-style: none;
    border-radius: 20px;
}
#slider .button-slide button:hover {
    margin-left: 50px;
    margin-top: 100px;
    color: white;
    padding-top: 10px;
    background-color: #880E4F;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: #880E4F;
    border-style: none;
    border-radius: 20px;
}
#slider .button-slide-1 button {
    margin-left: 50px;
    margin-top: 100px;
    color: white;
    padding-top: 10px;
    background-color: #3F51B5;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: #3F51B5;
    border-style: none;
    border-radius: 20px;
}
#slider .button-slide-1 button:hover {
    margin-left: 50px;
    margin-top: 100px;
    color: white;
    padding-top: 10px;
    background-color: #C62828;
    padding-bottom: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-color: #C62828;
    border-style: none;
    border-radius: 20px;
}
/*Slider End*/
 /*Offer Start*/
 .offer .heading {
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
    font-family: Optima, sans-serif;
 }
 .offer .heading h6{
    color: gray;
 }
 .offer .heading p{
    font-size: 40px;
 }
 /*Cad start*/
.cad {
    margin-top: 100px;
}
.hed-1 {
    margin-left: -30px;
    padding-left: 20px;
    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 40px;
    text-align: center;
    border: 1px;
    border-color: black;
    background-color: #faf7f785;
    border-style: solid;
    transition: all 0.3s ease-in-out;
 }
.hed-2 {
    padding-left: 20px;
    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin-left: 20px;
    border: 1px;
    border-color: black;
    background-color: #faf7f785;
    border-style: solid;
 }
 .hed-3 {
    padding-left: 20px;
    padding-top: 100px;
    padding-right: 20px;
    padding-bottom: 40px;
    text-align: center;
    margin-left: 20px;
    border: 1px;
    border-color: black;
    background-color: #faf7f785;
    border-style: solid;
 }
 .hed-1:hover{
    box-shadow: 1px 1px 9px #9c9696a6;
    border-style: none;
}
.hed-2:hover{
    box-shadow: 1px 1px 9px #9c9696a6;
    border-style: none;
}
.hed-3:hover{
    box-shadow: 1px 1px 9px #9c9696a6;
    border-style: none;
}
.hed-1 a{
    text-decoration: none;
}
.hed-2 a{
    text-decoration: none;
}
 .hed-3 a{
    text-decoration: none;
 }
.hed-1 i{
    font-size: 50px;
    color: blue;
}
.hed-2 i{
    font-size: 50px;
    color: blue;
}
.hed-3 i{
    font-size: 50px;
    color: blue;
}
.hed-1 h4{
    color: black;
}
.hed-2 h4{
    color: black;
}
.hed-3 h4{
    color: black;
}
.cad .hed-1 h4:hover {
    color: blue;
}
.cad .hed-2 h4:hover {
    color: blue;
}
.cad .hed-3 h4:hover {
    color: blue;
}
.hed-1 p{
    margin-top: 20px;
}
.hed-2 p{
    margin-top: 20px;
}
.hed-3 p{
    margin-top: 20px;
}
.single-service  i {
  font-size: 17px;
  vertical-align: -1px;
  margin-left: 2px; 
  color: red;
}

/*Offer End*/
/*Line start*/
.line {
    margin-bottom: 120px;
}
.line .provie h6 {
    margin-top: 87px;
    color: #6e6c67;
    position: relative;
    border: 1px;
    border-style: solid;
    background-color: #ffffff;
    border-radius: 20px;
    text-align: center;
    margin-left: 605px;
    margin-right: 605px;
    padding-top: 6px;
    padding-bottom: 7px;
}
.line .provie hr {
    margin-top: -26px;
    margin-bottom: 50px;
    border-top: 1px solid rgb(24 21 21 / 56%);
}
/*Line End*/
/*About Start*/
.about {
    margin-top: 30px;
    margin-bottom: 100px;
}
.about .img img{
    margin-left: -30px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
}
/*image hover animation*/
.about .img:hover img{
    -webkit-transform: scale(.9);
    transform: scale(.9);
}
.about .text {
    margin-left: 75px;
}
.about .text h3{
   font-weight: 900;
    line-height: 54px;
    margin: -7px 0 24px 0;
    font-size: 37px;
}
.about .text h3 span{
    color: #ffc704;
}
.about .text p {
    margin-bottom: 35px;
}
.about .text .profile .photo img {
   width: 100px;
    height: 100px;
    border: 1px solid transparent;
    border-radius: 50%;
    margin-left: 15px;
}
.about .text .profile .name {
    line-height: 1;
    margin-left: 20px;
    margin-top: 25px;
}
.about .text .profile .sign img {
    margin-left: 119px;
    margin-top: 17px;
}
.about .text .end-butn button {
   background-color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #393939;
    padding-bottom: 4px;
    border-style: none;
    margin-top: 20px;
}
.about .text .end-butn button:hover {
   background-color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #ffc704;
    padding-bottom: 4px;
    border-style: none;
    margin-top: 20px;
}
.about .text .end-butn button:active {
   background-color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #ffc704;
    padding-bottom: 4px;
    border-style: none;
    margin-top: 20px;
}
.about .text .end-butn button:visited {
   background-color: white;
    font-family: 'Roboto', sans-serif;
    position: relative;
    color: #ffc704;
    padding-bottom: 4px;
    border-style: none;
    margin-top: 20px;
}
.about .number {
    margin-top: 100px;
}
.about .number .rank {
    background-color: #f4f4ff78;
    text-align: center;
    padding-left: 55px;
    padding-top: 15px;
    padding-right: 55px;
    padding-bottom: 15px;
    border: 1px;
    border-style: solid;
    border-color: #dbd8d8;
    margin-left: 7px;
    

}
.about .number .rank-1 {
    background-color: #f4f4ff78;
    text-align: center;
    padding-left: 55px;
    padding-top: 15px;
    padding-right: 55px;
    padding-bottom: 15px;
    margin-left: 35px;
    border: 1px;
    border-style: solid;
    border-color: #dbd8d8;
}
.about .number .rank-2 {
    background-color: #f4f4ff78;
    text-align: center;
    padding-left: 55px;
    padding-top: 15px;
    padding-right: 55px;
    padding-bottom: 15px;
    margin-left: 35px;
    border: 1px;
    border-style: solid;
    border-color: #dbd8d8;
}
.about .number .rank-3 {
    background-color: #f4f4ff78;
    text-align: center;
    padding-left: 55px;
    padding-top: 15px;
    padding-right: 55px;
    padding-bottom: 15px;
    margin-left: 35px;
    border: 1px;
    border-style: solid;
    border-color: #dbd8d8;

}

/*About End*/
/*Service Start*/

.service {
    background-color: #94cddd0a;
    padding-bottom: 100px;
}
/*Service Heading Start*/
.service .text {
    margin-top: 80px;

}
.service .left-btn button {
    margin-top: 80px;
    background-color: #94cddd0a;
    padding-left: 45px;
    padding-top: 10px;
    padding-right: 45px;
    padding-bottom: 10px;
    border-radius: 46px;
    border: 1px;
    border-style: solid;
    font-weight: bold;
    margin-left: 465px;
}
.service .left-btn button:hover {
    margin-top: 80px;
    background-color: #3F51B5;
    color: white;
    padding-left: 45px;
    padding-top: 10px;
    padding-right: 45px;
    padding-bottom: 10px;
    border-radius: 46px;
    border: 1px;
    border-color: #3F51B5;
    border-style: solid;
    font-weight: bold;
    margin-left: 465px;
}
/*Service Heading End*/
/*Service table Start*/

.service-table .service-cade-1 {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: white;

}
.service-table .service-cade-2 {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: white;
    margin-left: 40px;
}
.service-table .service-cade-3 {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: white;
    margin-left: 40px;

}
.service-table .service-cade-4 {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: white;
    margin-left: 40px;

}
.service-table .service-cade-1:hover {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: 1px 1px 7px #cec9c969;

}
.service-table .service-cade-2:hover {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: 1px 1px 7px #cec9c969;
    margin-left: 40px;
}
.service-table .service-cade-3:hover {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: 1px 1px 7px #cec9c969;
    margin-left: 40px;

}
.service-table .service-cade-4:hover {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    background-color: white;
    box-shadow: 1px 1px 7px #cec9c969;
    margin-left: 40px;

}

.service-table .service-cade-1 i:hover {
    color: #ffc704;
    font-size: 40px;
    padding-left: 25px;
    padding-top:30px;
    padding-bottom: 30px; 

}
.service-table .service-cade-1 i {
    color: #ffc704;
    font-size: 48px;
    padding-left: 30px;
    padding-top:30px;
    padding-bottom: 30px; 

}

.service-table .service-cade-2 i:hover {
    color: #ffc704;
    font-size: 40px;
    padding-left: 25px;
    padding-top:30px;
    padding-bottom: 30px; 

}
.service-table .service-cade-2 i {
    color: #ffc704;
    font-size: 48px;
    padding-left: 30px;
    padding-top:30px;
    padding-bottom: 30px; 

}

.service-table .service-cade-3 i:hover {
    color: #ffc704;
    font-size: 40px;
    padding-left: 25px;
    padding-top:30px;
    padding-bottom: 30px; 

}
.service-table .service-cade-3 i {
    color: #ffc704;
    font-size: 48px;
    padding-left: 30px;
    padding-top:30px;
    padding-bottom: 30px; 

}

.service-table .service-cade-4 i:hover {
    color: #ffc704;
    font-size: 40px;
    padding-left: 25px;
    padding-top:30px;
    padding-bottom: 30px; 

}
.service-table .service-cade-4 i {
    color: #ffc704;
    font-size: 48px;
    padding-left: 30px;
    padding-top:30px;
    padding-bottom: 30px; 

}

.service-table .service-cade-1 a{
    color: black;
    padding-bottom: 20px;
    text-align: center;
}
.service-table .service-cade-2 a{
    color: black;
    padding-bottom: 20px;
    text-align: center;
}
.service-table .service-cade-3 a{
    color: black;
    padding-bottom: 20px;
    text-align: center;
}
.service-table .service-cade-4 a{
    color: black;
    padding-bottom: 20px;
    text-align: center;
}
.service-table .service-cade-1 a:hover {
    padding-bottom: 20px;
    text-align: center;
    color: #3f51b5;
    text-decoration: none;
}
.service-table .service-cade-2 a:hover {
    padding-bottom: 20px;
    text-align: center;
    color: #3f51b5;
    text-decoration: none;
}
.service-table .service-cade-3 a:hover {
    padding-bottom: 20px;
    text-align: center;
    color: #3f51b5;
    text-decoration: none;
}
.service-table .service-cade-4 a:hover {
    padding-bottom: 20px;
    text-align: center;
    color: #3f51b5;
    text-decoration: none;
}
/*button Start*/
.service-table .service-cade-1 button {
    border-style: none;
    background-color: white;
    padding-top: 10px;
}
.service-table .service-cade-2 button {
    border-style: none;
    background-color: white;
    padding-top: 10px;
}
.service-table .service-cade-3 button {
    border-style: none;
    background-color: white;
    padding-top: 10px;
}
.service-table .service-cade-4 button {
    border-style: none;
    background-color: white;
    padding-top:10px; 
    color: black;
}
.service-table .service-cade-1 button:hover {
    border-style: none;
    background-color: white;
    padding-top: 10px;
    color: #ffc704;
}
.service-table .service-cade-2 button:hover {
    border-style: none;
    background-color: white;
    padding-top: 10px;
    color: #ffc704;
}
.service-table .service-cade-3 button:hover {
    border-style: none;
    background-color: white;
    padding-top: 10px;
    color: #ffc704;
}
.service-table .service-cade-4 button:hover {
    border-style: none;
    background-color: white;
    padding-top:10px; 
    color: #ffc704;   
}

/*Service End */
/*Our Project One*/
.project #text{
    text-align: center;
    margin-top: 100px;
}
.project #text h2 {
    font-weight: 900;
    margin-bottom: 14px;
}
/*Project Slide*/
.jssorl-009-spin img {
    animation-name: jssorl-009-spin;
    animation-duration: 1.6s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
                        }
 @keyframes jssorl-009-spin {
from { transform: rotate(0deg); }
 to { transform: rotate(360deg); }
 }
/*Project footer*/
.slide-end-text {
    padding-top: 50px;
    margin-top: -779px;
    background-color: #3F51B5;
    z-index: 2;
    padding-bottom: 50px;
}
.slide-end-text .pragraph h3{
    text-align: center;
    color: white;
}
.slide-end-text .pragraph-buttn button {
    color: white;
    background-color: #FFEB3B;
    padding-left: 60px;
    padding-top: 13px;
    padding-right: 60px;
    padding-bottom: 13px;
    border-radius: 39px;
    border-color: yellow;
    border-style: solid;
}
.slide-end-text .pragraph-buttn button:hover {
    color: #2f2d2d;
    background-color: #FFEB3B;
    padding-left: 60px;
    padding-top: 13px;
    padding-right: 60px;
    padding-bottom: 13px;
    border-radius: 39px;
    border-color: yellow;
    font-weight: bold;
}
/*Our Project One End */
/*Membership Start*/
.membership .top-hading{
    margin-top: 100px;
    text-align: center;
}
.membership .top-hading h1 {
    font-weight: 900;
    font-size: 50px;
    padding-bottom: 10px;
}
.membership .top-hading p{
    font-size: 22px;
}
/*membership-table start*/
.membership-table {
    margin-top: 100px;
    margin-bottom: 100px;
}
.membership-table .membership-table-body-1 {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    border:1px solid black;
    padding-bottom: 50px;
}
.membership-table .membership-table-body-1:hover {
    text-align: center;
    padding: 50px 0 50px 0;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(88, 88, 88, 0.1);
    box-shadow: 0px 0px 16px 0px rgba(88, 88, 88, 0.1);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    border-style: none;
    padding-bottom: 50px;
}
.membership-table .membership-table-body-1 h5 {
    text-transform: uppercase;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.membership-table .membership-table-body-1 ul {
    list-style-type: none;
}
.membership-table .membership-table-body-1 ul li{
    text-decoration: none;
    line-height: 26px;
    margin-bottom: 20px;
}
.membership-table .membership-table-body-1 strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #393939;
    font-size: 42px;
    display: block;
    margin: 45px 0 45px 0;
}
.membership-table .membership-table-body-1 span {
    font-weight: normal;
    color: rgba(0,0,0,0.3);
    font-size: 14px;
    display: inline-block;
    line-height: 16px;
    text-align: left;
}
.membership-table .membership-table-body-1 .BTN a{
    line-height: 41px;
    font-weight: 700;
    font-size: 14px;
    color: #515356;
    text-transform: uppercase;
    border: 2px solid #ededed;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    border-radius: 32px;
}
.membership-table .membership-table-body-1 .BTN a:hover {
    line-height: 41px;
    font-weight: 700;
    font-size: 14px;
    color: #ffc704;
    text-transform: uppercase;
    border: 2px solid #ffc704;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    border-radius: 32px;
    text-decoration: none;
}
.membership-table .membership-table-body-2 {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: 55px;
    border:1px solid black;
}
.membership-table .membership-table-body-2:hover {
    text-align: center;
    margin-left: 55px;
    padding: 50px 0 50px 0;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(88, 88, 88, 0.1);
    box-shadow: 0px 0px 16px 0px rgba(88, 88, 88, 0.1);
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    border-style: none;

}
.membership-table .membership-table-body-2 h5 {
    text-transform: uppercase;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.membership-table .membership-table-body-2 ul {
    list-style-type: none;
}
.membership-table .membership-table-body-2 ul li{
    text-decoration: none;
    line-height: 26px;
    margin-bottom: 20px;
}
.membership-table .membership-table-body-2 strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #393939;
    font-size: 42px;
    display: block;
    margin: 45px 0 45px 0;
}
.membership-table .membership-table-body-2 span {
    font-weight: normal;
    color: rgba(0,0,0,0.3);
    font-size: 14px;
    display: inline-block;
    line-height: 16px;
    text-align: left;
}
.membership-table .membership-table-body-2 .BTN a{
    line-height: 41px;
    font-weight: 700;
    font-size: 14px;
    color: #515356;
    text-transform: uppercase;
    border: 2px solid #ededed;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    border-radius: 32px;
}
.membership-table .membership-table-body-2 .BTN a:hover {
    line-height: 41px;
    font-weight: 700;
    font-size: 14px;
    color: #ffc704;
    text-transform: uppercase;
    border: 2px solid #ffc704;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    border-radius: 32px;
    text-decoration: none;
}

.membership-table .membership-table-body-3 {
    text-align: center;
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    margin-left: 55px;
    border:1px solid black;
}
.membership-table .membership-table-body-3:hover {
    text-align: center;
    margin-left: 50px;
    padding: 50px 0 50px 0;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(88, 88, 88, 0.1);
    box-shadow: 0px 0px 16px 0px rgba(88, 88, 88, 0.1);
    padding-left: 55px;
    padding-right: 50px;
    padding-top: 30px;
    padding-bottom: 50px;
    border-style: none;
}
.membership-table .membership-table-body-3 h5 {
    text-transform: uppercase;
    border-bottom: 1px solid #eeeeee;
    padding-bottom: 25px;
    margin-bottom: 25px;
}
.membership-table .membership-table-body-3 ul {
    list-style-type: none;
}
.membership-table .membership-table-body-3 ul li{
    text-decoration: none;
    line-height: 26px;
    margin-bottom: 20px;
}
.membership-table .membership-table-body-3 strong {
    font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color: #393939;
    font-size: 42px;
    display: block;
    margin: 45px 0 45px 0;
}
.membership-table .membership-table-body-3 span {
    font-weight: normal;
    color: rgba(0,0,0,0.3);
    font-size: 14px;
    display: inline-block;
    line-height: 16px;
    text-align: left;
}
.membership-table .membership-table-body-3 .BTN a{
    line-height: 41px;
    font-weight: 700;
    font-size: 14px;
    color: #515356;
    text-transform: uppercase;
    border: 2px solid #ededed;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    border-radius: 32px;
}
.membership-table .membership-table-body-3 .BTN a:hover {
    line-height: 41px;
    font-weight: 700;
    font-size: 14px;
    color: #ffc704;
    text-transform: uppercase;
    border: 2px solid #ffc704;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    border-radius: 32px;
    text-decoration: none;
}
.membership-table .fa-times{
    color: red;
}
.membership-table .fa-check{
    color: green;
}

/*Membership End*/
/*Tem member slaider Start*/
.fainan-theme .client-slide{
    background-color: #525050;
    height: 800px;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 95px;
}
.fainan-theme .client-slide .title h6 {
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin-top: 20px;
    padding-top: 20px;
}
.fainan-theme .client-slide .title h2{
    font-size: 42px;
    color: white;
    font-weight: 900;
}
.fainan-theme .client-slide .title .f-s-color{
    color: #ffc704;
}
.fainan-theme .client-slide .opacity .list{
    margin-left: 20px;
    background-color: white;
}
.fainan-theme .client-slide .opacity .image img{
    border-style: solid;
    border-radius: 50%;
    border:1px black;
}
.fainan-theme .client-slide .opacity .slid img {
    margin-top: 50px;
    height: 445px;
    border-radius: 20px;

}
.fainan-theme .client-slide #button{
    margin-top: 80px;
    margin-left: 450px;
}
.fainan-theme .client-slide #button button {
    color: white;
    background-color: #FFEB3B;
    padding-left: 60px;
    padding-top: 13px;
    padding-right: 60px;
    padding-bottom: 13px;
    border-radius: 39px;
    border-color: #FFEB3B;
    border-style: solid;
    font-weight: bolder;
}
.fainan-theme .client-slide #button button:hover {
    color: white;
    background-color: #3F51B5;
    padding-left: 60px;
    padding-top: 13px;
    padding-right: 60px;
    padding-bottom: 13px;
    border-radius: 39px;
    border-color: #3F51B5;
    border-style: solid;
    font-weight: bolder;
}
.fainan-theme .client-slide #button button:visited {
    color: white;
    background-color: #3F51B5;
    padding-left: 60px;
    padding-top: 13px;
    padding-right: 60px;
    padding-bottom: 13px;
    border-radius: 39px;
    border-color: #3F51B5;
    border-style: solid;
    font-weight: bolder;
}


/*Tem member slaider End*/
/*NEWS START*/
.news {
    margin-bottom: 100px;
}
.news h1{
    font-weight: 900;
    padding-bottom: 50px; 
}
.news .table-1 img{
    margin-bottom: 20px;
    position: relative;
    -webkit-transform: scale(2);
    transform: scale(1.05);
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;

}
.news .table-1 img:hover{
    -webkit-transform: scale(1);
    transform: scale(1);
}
.news .table-2 img{
    margin-bottom: 20px;
    margin-left: 70px;
    position: relative;
    -webkit-transform: scale(2);
    transform: scale(1.05);
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;

}
.news .table-2 img:hover{
    margin-left: 70px;
    -webkit-transform: scale(1);
    transform: scale(1);
}
.news .table-1 .post{
    margin-right: 3px;
    margin-bottom: 50px;
}
.news .table-1 .post span{
    display: block;
    margin: 22px 0 15px 0;
}
.news .table-1 .post h5{
    font-size: 22px;
    color: #393939;
    margin: 22px 0 15px 0;
}
.news .table-1 .post h5 a {
    font-weight: 700;
    color: #393939;
    line-height: 28px;
    display: block;
    margin-bottom: 13px;
}
.news .table-1 .post a:hover, a:focus, a:visited {
    text-decoration: none;
    color: #337ab7;
    outline: none;
}
.news .table-1 .post #button button {
    background-color: white;
    border-style: none;
    text-decoration-line: underline;
    line-height: 20px;
    text-decoration: underline;
}
.news .table-1 .post #button button:hover, button:focus, button:visited {
    background-color: white;
    border-style: none;
    text-decoration-line: underline;
    line-height: 20px;
    text-decoration: underline;
    color: #ffc704;
}
.news .table-2 .post-1{
    margin-left: 70px;
    margin-bottom: 50px;
}
.news .table-2 .post-1 span{
    display: block;
    margin: 22px 0 15px 0;
}.news .table-2 .post-1 h5{
    font-size: 22px;
    color: #393939;
    margin: 22px 0 15px 0;
}
.news .table-2 .post-1 h5 a {
    font-weight: 700;
    color: #393939;
    line-height: 28px;
    display: block;
    margin-bottom: 13px;
}
.news .table-2 .post-1 a:hover, a:focus, a:visited {
    text-decoration: none;
    color: #337ab7;
    outline: none;
}
.news .table-2 .post-1 #button button {
    background-color: white;
    border-style: none;
    text-decoration-line: underline;
    line-height: 20px;
    text-decoration: underline;
}
.news .table-2 .post-1 #button button:hover, button:focus, button:visited {
    background-color: white;
    border-style: none;
    text-decoration-line: underline;
    line-height: 20px;
    text-decoration: underline;
    color: #ffc704;
}
/*Line */
.news .list {
    margin-left: 54px;
}
.news .text {
    margin-left: 101px;
    padding: 0px;
    margin-top: -8px;
}
.news  .text h5{
    text-decoration: none;
}
.news .list .text a{
    text-decoration: none;
    color: black;
}
.news .text a:hover, a:focus, a:visited {
    text-decoration: none;
    color: #3F51B5;
}
.news .text p{
    padding-top: 0px;
}
.news .list .line-news .img img {
    position: absolute;
    margin-left: 0px;
    height: 70px;
    width: 80px;
}
.news .list .line-news{ 
    padding-bottom: 19px;
    border-bottom: 1px #e4dada solid;
    margin-left: 5px;
    margin-bottom: 40px;
}
/*NEWS END*/
/*MAPE START*/
.maps {
    width:100%;
    height:500px;
    frameborder: 0;
    border:0;
    aria-hidden:false;
    margin-bottom: 100px;
    padding-bottom: 100px;

}

/*Partner Logo Start*/
.Partner{
    padding-top: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-left: 150px;
}
.Partner .image-logo{
    padding-left: 20px;
    padding-right: 20px;
}
/*Partner Logo End*/
/*Fooder Head Start*/
.fooder {
    background-color: #1c4583;
}
.fooder .bdr{

}
.fooder .top{
    text-align: center;
    border-bottom: 1px solid #9e98983b;
    
}
.fooder .top h3{
    color: #fff;
    font-weight: bold;
    padding-top: 50px;
    padding-bottom: 50px;
}
.fooder .top h3 span{
    color: #F9A825;
}
.fooder .bttn {
    border-bottom: 1px solid #9e98983b;
}
.fooder button {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 50px;
    margin-left: 26px;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    background-color: #1c4583;
    border: 2px solid #ffc704;
    border-radius: 31px;
    color: #fff;
}
.fooder button:hover  {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    margin-top: 50px;
    margin-left: 26px;
    padding-left: 50px;
    padding-top: 15px;
    padding-right: 50px;
    padding-bottom: 15px;
    background-color: #ffc704;
    color: white;
    border: 2px solid #ffc704;
    border-radius: 31px;
}
/*Fooder head End*/
/*Fooder Medal Start*/
.fooder-medel{
    background-color: #1c4583;
    height: 400px; 
}
.fooder-medel .hadding-1{
    margin-top: 57px;
    margin-left: 120px;
}
.fooder-medel .hadding-1 img{
    padding-bottom: 30px;
}
.fooder-medel .hadding-1 p{
    color: #bfb0b0;
}
.fooder-medel .hadding-1 .text-1 {
   line-height: 42px;
}
.fooder-medel .hadding-1 .text-1 h6{
    color: #ffffff;
    font-size: 25px;
    padding-bottom: 20px;
}
.fooder-medel .hadding-1 .text-1 a{
    color: #bfb0b0; 
}
.fooder-medel .hadding-1 .text-1 a:hover, a:focus, a:visited {
    color: #ffc704; 
    text-decoration: none;
}
.serch-submit{
    margin-top: 50px;
}
.serch-submit form input {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 25px 0px 0px 25px;
    border-style: solid;
    border-color: #FFC107;
}
.serch-submit form button {
    padding-top: 15px;
    background-color: #FFC107;
    padding-bottom: 15px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: -6px;
    border-style: solid;
    border-color: #FFC107;
    border-radius: 0px 25px 25px 0px;
    color: white;
}
/*Fooder Medel End*/
/*Footer Button Start*/
.fooder-button {
    padding-top: 20px;
    background-color: #303F9F;
    padding-bottom: 20px;
}
.fooder-button p {
    color: #fff;
    padding-right: 8px;
}

.icon-footer i {
    font-size: 20px;
    color: #00BCD4;
    margin-left: 15px;
    border: 1px solid;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    text-align: center;
    padding-top: 2px;
    background-color: #1A237E;
    position: relative;
    height: 40px;
    width: 40px;
    padding-top: 8px;

}
.icon-footer i:hover {
    position: relative;
    color: #00BCD4;
    margin-left: 15px;
    border: 1px solid;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 8px;
    background-color: #FBC02D;
}
.icon-footer .fab {
    display: inline-block;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 800;
}
.icon-footer .fab:hover {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 800;
}