/* For desktop */
.col-1{width: 8.33%;}
.col-2{width: 16.66%;}
.col-3{width: 25%;}
.col-4{width: 33.33%;}
.col-5{width: 41.66%;}
.col-6{width: 50%;}
.col-7{width: 58.33%;}
.col-8{width: 66.66%;}
.col-9{width: 75%;}
.col-10{width: 83.33%;}
.col-11{width: 91.66%;}
.col-12{width: 100%;}

/* Navbar start  */
.navbar{
    
    margin-bottom: 1px;
    top: 0;
    width: 100%;
    padding: 0% 3%;
}

.navbar:hover {
    scrollbar-shadow-color: #181717;
    top: 0;
    max-width: 100%;
    padding: 0% 3%;
    box-shadow: 0px 0px 15px 0px #AD1457;
}

.nav-logo{
    margin-left: 0px;
    text-align: left;
}

.nav-logo img {
    margin-left: 7%;
    padding-top: 0px;
    margin-top: 5px;
}

.nav-logo h1{
    text-align: left;
}


.navbar .nav-menu{
    text-align: right;
    display: flex;
    flex-direction: row;
    text-transform: uppercase;
}
.nav-menu a {
    font-weight: bolder;
    font-size: 18px;
    padding: 18px 18px;
    margin: 10px 23px;
}

.nav-menu a:hover {
    text-decoration: none;
    font-weight: bolder;
    font-size: 18px;
    padding: 18px 18px;
    margin: 10px 23px;
}

/* Navber end  */

.about-1 {
    padding-bottom: 100px;
    padding-top: 100px;
    display: grid;
    background-color: rgb(192 192 192 / 30%);;
}

.about-1 .text {
    text-align: center;
}

.text h1{
    font-weight: bolder;
    font-size: 48px;
}

.text span{
    color: #F4511E;
}
.text p {
    font-size: 30px;
    font-weight: 900;
    color: #1015e2;
}

.text .btn {
    margin-top: 30px;
    border-radius: 46px;
    padding: 10px 34px;
    background-color: #1A237E;
    border-style: none;
    box-shadow: 2px 0px 10px #4a4848;
}

.text .btn:hover {
    text-decoration: none;
    margin-top: 30px;
    border-radius: 46px;
    padding: 10px 34px;
    background-color: black;
    border-style: none;
    box-shadow: 3px 0px 18px #4a4848;
}

.text a {
    padding: 2px 83px;
    color: white;
    font-size: 2.2rem;
    text-decoration: none;
}

.text a:hover {
    padding: 2px 83px;
    color: white;
    font-size: 2.2rem;
    text-decoration: none;
}

.about-1 .image img {
    padding-top: 0px;
    border-style: none;
    margin-left: 175px;
    border-radius: 0px 100px;
}
/* About End */
/* Bio start  */
.bio{
    background-image: url(img/bio/hand.png);
    margin-top: -17px;
    text-align: center;
    margin-bottom: 100px;
}

.bio h1{
    padding-top: 50px;
    font-size: 48px;
    font-weight: bolder;
    color: white;
}

.bio p{
    text-shadow: 0px 1px black;
    color: #25e244;
    font-size: 26px;
    text-align: inherit;
    padding-bottom: 50px;
}
.bio p::first-letter{
    font-size: 50px;
    color: rgb(245, 16, 16);
    font-weight: lighter;
}

/* Bio end  */

/* Progress Start  */

.skill{
    margin-top: -98px;
    height: 400px;
    background-color: #283593;
}

.skill h1 {
    padding-top: 65px;
    text-align: center;
    margin-bottom: 50px;
    font-weight: bold;
    color: white;
}

.progress {
    margin-left: 180px;
    height: 40px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 10px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
    width: 75%;
    animation: auto;
    
}

.progress-bar {
    float: center;
    width: 0%;
    height: 100%;
    font-size: 20px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    background-color: #337ab7;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    box-shadow: inset 0 -1px 0 rgba(0,0,0,.15);
    -webkit-transition: width .6s ease;
    -o-transition: width .6s ease;
    transition: width .6s ease;
}

.bg-success {
    background-color: #dff0d8;
}
/* Progress End  */

/* Project Start */

.project{
    color: white;
    margin-top: -17px;
    width: 100%;
    height: 900px;
    background-color: #3f6fc5;
}

.project h1{
    text-align: center;
}

.project p{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

.project-images{
    box-shadow: 0px 1px 8px black;
    padding: 12px 12px;
    margin-left: 90px;
    flex-direction: row;
    background-color: #181717;
    
}

.project-images:hover{
    box-shadow: 2px 0px 18px black;
}

.project-images img{
    width: 350px;
    height: 250px;
    border: 3px #ffffffff dashed;
}

.project-images h3{
    padding-top: 20px;
    text-align: center;
}

.project-images p{
    padding-top: 10px;
    text-align: center;
}

.project-images .project-text{
    background-color: whitesmoke;
    border-radius: 50%;
    color: black;
}

.project-images button{
    background-color: white;
    margin: 0px 41px;
    margin-bottom: 29px;
    padding: 10px 33px;
    border-radius: 77px 0px;
    color: black;
}

.project-images button:hover a:hover{
    background-color: #1A237E;
    margin-bottom: 29px;
    padding: 10px 33px;
    border-radius: 77px 0px;
    color: white;
}

.project-images button a{
    color: black;
    font-size: 20px;
}

.project-images button a:hover{
    font-size: 20px;
    text-decoration: none;
}

/* Project End */

/* Header Start */

.header{
    margin-top: 3px;
    background-color: cornflowerblue;
    padding-top: 50px;
    padding-bottom: 50px;
    color: white;
    margin-bottom: 2px;
}

.header h1{
    text-align: center;
    font-weight: bold;
}

.header .conten{
    padding-top: 30px;
    margin: 0% 25%;
    align-items: center;
    align-content: center;
    flex-direction: row;
}

.header .conten label {
    font-size: 20px;
    margin-left: 0px;
}

.header .conten input{
    margin-right: 18px;
    padding: 5px 10px;
    color: grey;
    font-size: 18px;
    font-style: italic;
    border-radius: 0px 30px;
    border: black 1px solid;
}

.header .conten input:focus{
    margin-right: 18px;
    padding: 5px 10px;
    color: grey;
    font-size: 18px;
    font-style: italic;
    border-radius: 0px 30px;
    border: black 1px solid;
}

.header .conten textarea{
    margin-top: 30px;
    resize: none;
    color: gray;
    padding-top: 20px;
    padding-left: 40px;
    font-size: 20px;
    border-radius: 50px 0px;
    border-style: none;
    font-style: italic;
    margin-left: 80px;
}

.header .conten button{
    margin: 20px 170px;
    padding: 15px 90px;
    color: black;
    font-size: 18px;
    background-color: white;
    border-radius: 60px 0px;
    border: 1px black solid;
    
    
}

.header .conten button:hover{
    background-color: black;
    color: white;
    border: 1px white solid;
}

/* Hrader End */

/* Footer Start */

.footer{
    height: 80px;
    background-color: darkblue;
    margin-bottom: 30px;
    padding-bottom: 30px;
}

.footer .tast{
    color: white;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 30px;
}

.footer .tast a{
    font-size: 20px;
    margin-left: 20px;
    color: gold;
}

.footer .tast a:hover{
    font-size: 20px;
    margin-left: 20px;
    color: goldenrod;
    text-decoration: none;
}

.footer .icn{
    padding-left: 240px;
}
.footer .icn a{
    padding-top: 10px;
    
}

.footer .icn a i{
    margin-top: 5px;
    font-size: 30px;
    color: white;
    background-color: #283593;
}

.footer .icn a i:hover{
    margin-top: 5px;
    font-size: 30px;
    color: white;
    background-color: black;
}